@{
    Layout = null;
}

@model IQueryable<Product>
<h1>All Our Products</h1>

    @foreach (Product p in Model)
    {
        <ul>
            <li>@p.ImgLink</li>
            <li>@p.Name</li>
            <li>'$' + @p.Price</li>
        </ul>
    }
    
    
