@model IQueryable<Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Product Details</title>
</head>
<body>
<div>
        @foreach (Product p in Model)
        {
            <ul>
                <li>@p.ImgLink</li>
                <li>@p.Name</li>
                <li>'$' + @p.Price</li>
            </ul>
        }

</div>
</body>
</html>